flows/test-sirisx-situations.json
[{"id":"a68f9c27.7365b","type":"situations","z":"54e681ab.b52c08","name":"Situations","url":"https://sirisx.ruter.no/sx/","x":442.5,"y":571,"wires":[["32dd4905.3b51f6"]]},{"id":"68d2326c.a09934","type":"inject","z":"54e681ab.b52c08","name":"","topic":"","payload":"{\"stops\":[3012015,3012005],\"lines\":[460,450]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":153.5,"y":401,"wires":[["a68f9c27.7365b"]]},{"id":"32dd4905.3b51f6","type":"debug","z":"54e681ab.b52c08","name":"","active":true,"console":"false","complete":"false","x":654.5,"y":531,"wires":[]}]
